@model Login
@{
    ViewBag.Title = "Login";
}
<div class="grid">
    <div class="grid-body">
        <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div class="form-group input-rounded">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.ReturnUrl" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group input-rounded">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-inline">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="form-check-input" />Remember me <i class="input-frame"></i>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
                        
                        Login
                    </button>
                    
                </form>
                <div class="signup-link">
                    <p>Don't have an account yet?</p>
                    <a asp-controller="Account" asp-action="Register">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>